<html>
<head>
  <title>People</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <h1>People</h1>
  <button id="reload-button">Reload</button>
  <div id="people-list">
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById('reload-button').addEventListener('click', fetchPeople);
    });

    function fetchPeople() {
      fetch('/people.json')
        .then(response => response.json())
        .then(data => {
          let peopleList = document.getElementById('people-list');
          peopleList.innerHTML = '';
          data.forEach(person => {
            let personItem = document.createElement('div');
            personItem.textContent = `${person.first_name} ${person.last_name} (${person.email})`;
            peopleList.appendChild(personItem);
          });
        });
    }
  </script>
</body>
</html>
